@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

<
style type

=
"text/css"
>
.headtitle {
    color: #06F;
    font-family: "Adobe 黑体 Std R";
    font-size: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: cornflowerblue;
    pandding-bottom: 6px;
    text-align: center;
    width: auto;

}

}